<div data-slot="sidebar-menu-badge" data-sidebar="menu-badge" data-sidebar-collapse="hide" class="pointer-events-none absolute right-1 flex h-5 min-w-5 items-center justify-center rounded-md px-1 text-xs font-medium text-sidebar-foreground tabular-nums select-none peer-hover/menu-button:text-sidebar-accent-foreground">
  <%= content %>
</div>
