<div
  data-controller="sidebar"
  data-sidebar-target="wrapper"
  data-state="expanded"
  data-collapsible="icon"
  style="--sidebar-width: 16rem; --sidebar-width-icon: 4rem; --sidebar-width-mobile: 18rem;"
>
  <%= content %>
</div>
