<button data-slot="sidebar-menu-action" data-sidebar="menu-action" data-sidebar-collapse="hide" class="absolute top-1.5 right-1 flex aspect-square w-5 items-center justify-center rounded-md p-0 text-sidebar-foreground outline-hidden transition-transform peer-hover/menu-button:text-sidebar-accent-foreground after:absolute after:-inset-2 hover:bg-sidebar-accent hover:text-sidebar-accent-foreground focus-visible:ring-2 focus-visible:ring-sidebar-ring md:after:hidden [&_svg]:size-4 [&_svg]:shrink-0">
  <%= content %>
</button>
