<% if link? %>
  <%= link_to @href, class: classes do %>
    <%= content.present? ? content : @label %>
  <% end %>
<% else %>
  <span class="<%= classes %>"><%= content.present? ? content : @label %></span>
<% end %>
