<header class="bg-gray-100 p-4 mb-6">
  <nav class="container mx-auto flex space-x-4">
    <%= link_to "Dashboard", root_path, class: "font-semibold" %>
    <%= link_to "Budgets", budget_periods_path %>
    <%= link_to "Expenses", expenses_path %>
    <%= link_to "Categories", categories_path %>
  </nav>
</header>
